/* entry main section */
.entry-page_main-container {
  width: 110vh;
  height: 80vh;
  border-radius: 10px;
  display: flex;
}

/* entry left section */
.entry-page_left-section-container {
  width: 50%;
  height: 100%;
  background-image: url("../../assets/images/entry-page_left-section-container-image.jpg");
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  flex-direction: column;
}

.left-section-top {
  border: 1px solid black;
  width: 100%;
  height: 30px;
  display: flex;
}

.left-section-top img {
  height: 20px;
}

.left-section-mid {
  flex-grow: 2;
  border: 1px solid black;
  width: 100%;
  height: 30px;
}

.left-section-bot {
  border: 1px solid black;
  width: 100%;
  height: 30px;
}

/* entry right section */
.entry-page_right-section-container {
  width: 50%;
  background-color: #f5f5f5;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

/* upper section */
.right-section-welcome-container {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.welcome-container-signup-link {
  display: flex;
}

hr.rounded {
  border-top: 5px solid #080707;
  border-radius: 5px;
  width: 90%;
  align-self: center;
}

/* lower section */
.right-section-sign-in-container {
  height: 50%;
}

.sign-in-input {
  height: 5vh;
}
